.canvas{
    height: 100vh;
    width: 100%;
    &__wrapper {
      max-width: 1200px;
      height: 95vh;
      position: relative;
    }
}
.who-we-are {
    width: 100%;
    color: #4A4A47;
    justify-content: flex-end;
    display: flex;
    height: 100vh;
    position: relative;
    &__power-icon {
        display: inline-block;
        width: 45px;
    }
    &__item-container {     
        width: 100%;
        height: 100vh;
        // display: flex;
        // padding-top: 10%;
        // margin-right: 70px;
        // width: 76%;
        // max-width: 1200px;
        // justify-content: flex-end;
    }
    // &__item {
    //     max-width: 570px;
    //     float: right;
    //     p {
    //         font-size: 20px;
    //         line-height: 34px;
    //     }
    // }
    &__video {
        // margin-right: 5%;
    }
    &__playbutton {
        position: absolute;
        top: 40%;
        left: 45%;
        z-index: 5
    }
    &__header {
        font-family: 'Nexa Bold';
        border-top: 2px solid #4A4A47;
        border-bottom: 2px solid #4A4A47;
        font-size: 80px;
        overflow: hidden;
        padding: 15px 0px;
        transition: 1s;
        span {
            color: #FF5F4B;
        }
        &--on {
            height: inherit;
        }
        &--off {
            height: 5px;
        }
    }

}



// philosophy
.philosophy {
    width: 100%;
    height: 100vh;
    background-color: #333232;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
     &__text {
        max-width: 550px;
        color: #FFFFFF;
        position: absolute;
        bottom: 24%;
        left: 70px;
        &__header {
            border-top: 2px solid #FFFFFF;
            border-bottom: 2px solid #FFFFFF;
            font-size: 70px;
            font-weight: 700;
            width: 90%;
            height: 0px;
            overflow: hidden;
            transition: 1s;
            position: relative;
            span {
                position: absolute;
                top: -4%;
            }
            &--animate {
                animation: textHeader 1.5s ease forwards;
            }
        }
        &__body {
            font-size: 18px;
            line-height: 27px;
        }
    }
     &__forza-fuse {
        position: absolute;
        right: 9%;
        top: -3%;
        width: 600px;
    }
    @media (max-width: 400px) {
        &__forza-fuse {
            width: 400px;
            top: -5%;
        }
    }
    @media (max-width: 1080px) {
        &__forza-fuse {
            width: 300px;
        }
        &__text {
            max-width: 300px;
            bottom: 4%;
            left: 30px;
            &__header {
                font-family: 'Nexa Bold';
                border-top: 2px solid #FFFFFF;
                border-bottom: 2px solid #FFFFFF;
                font-size: 40px;
                width: 90%;
                padding: 10px 0px; 
                overflow: hidden;
                transition: 1s;
            }
            &__body {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

// Thinking
.thinking {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: #4A4A47;
    &__text {
        position:  absolute;
        max-width: 470px;
        right: 70px;
        bottom: 20%;
        &__header {
            border-top: 2px solid #4A4A47;
            border-bottom: 2px solid #4A4A47;
            font-size: 70px;
            font-weight: 700;
            width: 90%;
            height: 0px;
            overflow: hidden;
            transition: 1s;
            position: relative;
            span {
                position: absolute;
                top: -4%;
            }
            &--animate {
                animation: textHeader 2s ease forwards;
            }
        }
        &__body {
            margin-top: 40px;
            font-size: 18px;
            line-height: 27px;
        }
    }
    &__cloud {
        position:  absolute;
        left: 5%;
        top: 18%;
    }
    &__cloud-image {
        position:  absolute;
        transition: 1s;
        &--on {
            left: 10%;
            bottom: 12%;
            width: 550px;
        }
        &--off {
            left: 7%;
            bottom: 5%;
            width: 400px;
        }

    }
    @media (max-width: 1080px) {
        &__text {
            max-width: 300px;
            bottom: 4%;
            left: 30px;
            &__header {
                font-size: 40px;
                width: 90%;
                padding: 10px 0px; 
                overflow: hidden;
                transition: 1s;
            }
            &__body {
                font-size: 18px;
                line-height: 22px;
                margin-top: 30px;
            }
        }
        &__cloud {
            position:  absolute;
            left: 5%;
            top: 1%;
        }
        &__cloud-image {
            position:  absolute;
            transition: 1s;
            &--on {
                left: 10%;
                top: -20%;
                width: 300px;
            }
            &--off {
                left: 10%;
                top: -10%;
                width: 200px;
            }
    
        }
    }
    @media (max-width: 400px) {
        &__cloud-image {
            &--on {
                left: 10%;
                top: -32%;
                width: 200px;
            }
            &--off {
                left: 10%;
                top: -32%;
                width: 100px;
            }
    
        }
    }

}

.workflow {
    width: 100%;
    height: 100vh;
    background-color: #333232;
    display: flex;
    overflow: hidden;
    position: relative;
    &__image {
        position: absolute;
        transition: 1s;
        &--kite {
            top: 10%;
            left: 15%;
            animation: kiteout 1.5s ease forwards;
        }
        &--animate {
            animation: kite 1.5s ease forwards;   
        } 
    }
    &__list {
        position: absolute;
        bottom: 15%;
        right: 70px;
        max-width: 610px;
        &__item {
            display: flex;
            justify-content: space-between;
            margin-top: 30px; 
        }
    }
    &__text{
        max-width: 600px;
        color: #FFFFFF;
        position: absolute;
        bottom: 15%;
        left: 70px;
        &__header {
            border-top: 2px solid #FFFFFF;
            border-bottom: 2px solid #FFFFFF;
            font-size: 70px;
            font-weight: 700;
            width: 90%;
            height: 0px;
            overflow: hidden;
            transition: 1s;
            position: relative;
            span {
                position: absolute;
            }
            &--animate {
                animation: textHeader 2s ease forwards;
            }
        }
        &__body {
            font-size: 18px;
            line-height: 25px;
            width: 550px;
        }
    }
    @media (max-width: 1080px) {
        &__image {
            width: 100px;
            &--kite {
                top: 35%;
                left: 20%;
                animation: kiteoutSmallScreen 1.5s ease forwards;
            }
            &--animate {
                animation: kiteSmallScreen 1.5s ease forwards;   
            } 
        }
        &__text {
            max-width: 300px;
            bottom: 1%;
            left: 30px;
            &__header {
                font-size: 40px;
                width: 90%;
                overflow: hidden;
                transition: 1s;
            }
            &__body {
                font-size: 18px;
                line-height: 22px;
                margin-top: 30px;
                width: 350px;
            }
        }
        &__list {
            top: 10%;
            left: 20px;
            width: 100%;
            overflow: auto;
            display: flex;
            .list__body {
                width: 200px
            }
            .list__number {
                width: 50px;
            }
            &__item {
                display: flex;
            }
        }
    }

    @media (max-width: 400px) { 
        &__text {
            left: 10px;
            &__header {
                font-size: 40px;
                width: 90%;
                overflow: hidden;
                transition: 1s;
            }
            &__body {
                font-size: 18px;
                line-height: 22px;
                margin-top: 10px;
                width: 350px;
            }
        }
        &__image {
           width: 100px;
        }
        &__list {
            top: 20px;
            .list__body {
                width: 200px
            }
            .list__number {
                width: 50px;
            }
            &__item {
                display: flex;
            }
        }
    }
}
.cleints {
    width: 100%;
    padding-top: 100px;
    &__text{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
        height: 80px;
        &__header {
            border-top: 1px solid #4A4A47;
            border-bottom: 1px solid #4A4A47;
            font-size: 70px;
            font-weight: 700;
            width: 90%;
            margin-right: 250px;
            max-width: 300px;
            height: 0px;
            overflow: hidden;
            transition: 1s;
            position: relative;
            span {
                position: absolute;
            }
            &--animate {
                animation: textHeader 2s ease forwards;
            }

        }
    }
    &__images {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        margin: 0 auto;
        flex-wrap: wrap;
        img {
            width: 150px;
            margin: auto;
        }
    }
    &__logo {
      width: 200px;
    }
}

@keyframes textHeader {
    0%{ 
        height: 0px;
        // padding: 0px 0px;
    }
    100%{
        height: 85px;
    }
}
@keyframes aboutheaders {
    0%{ 
        height: 5px;
    }
    100%{ height: 20px }
}

@keyframes kite {
    0%{ 
        top: 20%;
        left: 15%;
    }
    100%{
        top: 15%;
        left: 20%;
    }
}

@keyframes kiteout {
    0%{ 
        top: 15%;
        left: 20%;
    }
    100%{
        top: 20%;
        left: 15%;
    }
}

@keyframes kiteSmallScreen {
    0%{ 
        top: 35%;
        left: 15%;
    }
    100%{
        top: 40%;
        left: 20%;
    }
}

@keyframes kiteoutSmallScreen {
    0%{ 
        top: 40%;
        left: 20%;
    }
    100%{
        top: 35%;
        left: 15%;
    }
}