@import '../../styles/fonts/fonts.scss';

.menu {
    width: 100%;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    animation: menu-open 0.8s ease forwards;
    padding-left: 70px;
    display: none;
    @media (max-width: 700px) {
        padding-left: 30px;
    }
    &--open {
        animation: menu-open 0.8s ease forwards; 
        display: block; 
    }
    &--close {
        animation: menu-close 0.8s ease forwards;
        display: block; 
    }
    &--bg-white {
        background-color: #FFFFFF;
    }
    &__items {
        margin-top: 25vh;
        display: inline-block;
        display: block;
    }
    &__item {
        font-size: 60px;
        font-weight: 600;
        cursor: pointer;
        letter-spacing: 2px;
        margin-bottom: 20px;
        @media (max-width: 700px) {
            font-size: 45px;
            margin-bottom: 10px;
        }
        a {
            &:hover {
                color: #FF5F4B;          
            }
        }
    }
}

@keyframes menu-open {
    0%{ 
        transform: translateY(-1000px)
    }
    100%{transform: translateY(0px)}
}

@keyframes menu-close {
    0%{ 
        transform: translateY(0px)
    }
    100%{transform: translateY(-2000px)}
}