.side-nav {
    position: absolute;
    left: 70px;
    top: 15%;
    font-size: 18px;
    width: 400px;
    overflow: hidden;
    z-index: 10;
    @media (max-width: 1300px) { 
        display: none;
    }
    &--white {
        color: white;
    }
    &--transform-out {
        animation: sideout 1s ease forwards; 
    }
    &--transform-in {
        animation: sidein 1s ease forwards; 
    }

    ul {
        list-style: none;
        padding: 0px;
        display: inline-block;
        li {
            text-decoration: none;
            margin-bottom: 10px;
            width: inherit;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
                margin-bottom: 10px;
                color: #FF5F4B; 
                font-weight: 600;
            }
        }
        .active {
            text-decoration: underline;
            margin-bottom: 10px;
            color: #FF5F4B; 
            font-weight: 600;         
        }
    }

}

@keyframes sideout {
    0% { 
        transform: translateX(0px)
    }
    100% {
        transform: translateX(-300px)
    }
}

@keyframes sidein {
    0% { 
        transform: translateX(-300px)
    }
    100% {
        transform: translateX(0px)
    }
}

