@import '../../styles/fonts/fonts.scss';


.home {
    height: 100vh;
    width: 100%;
    position: relative;
    &--dark-theme {
        background-color: #333232;
        color: white;
    }
    &__toggle-button {
        left: 3%;
        top: 15%;
        display: flex;
        z-index: 20;
        position: absolute;
        @media(max-width: 850px) {
            top: 50%;
        }
        input[type=checkbox]{
            height: 0;
            width: 0;
            visibility: hidden;
        }
        
        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 60px;
            height: 30px;
            background: grey;
            display: block;
            border-radius: 100px;
            position: relative;
        }
        
        label:after {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            width: 18px;
            height: 20px;
            background: #fff;
            border-radius: 90px;
            transition: 0.3s;
        }
        
        input:checked + label {
            background: #FF5F4B;
        }
        
        input:checked + label:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }
        
        label:active:after {
            width: 65px;
        }
    }
    &__header {
       font-size: 80px;
       
       &__wrapper {
        padding: 10px;
        overflow: hidden;
       }
       &__animate {
            animation: slide 3s forwards;
            color: #FF5F4B;
       }
    }
    .border-left {
        border-left: solid #FF5F4B 4px;
    }
    &__link {
        font-size: 14px;
        text-decoration: underline;
    }
    &__images {
        right: 0px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        align-items: flex-end;
        &__theme {
            // position: absolute;
            margin-left: 10px;
            width: 25px;
        }
        &__cloud {
            animation: move 110s infinite; 
            padding-top: 30px;
            height: 200px;
        }
        &__cloud-top {
            position: absolute;
            width: 70%;
            height: 300px;
            animation: move 120s infinite; 
        }
        svg {
            width: 100%;
        }
        &__building {
            width: 54%;
            right: 0px;
            bottom: -7%;
            position: absolute;
            bottom: -10px;
            transition: 1s;
            @media (max-width: 500px) {
              width: 94%;
            }
        }
        &__bird-one {
            position: absolute;
            animation: bird 60s infinite;
            z-index: 6;
            svg {
                fill: blue;
            }    
        }
    }
    &__text {
        padding-top: 150px;
        padding-left: 70px;
        position: absolute;
        z-index: 100;
    }
    &__decription {
        padding-top: 30px;
        font-size: 30px;
    }
    &_pd {
        padding-left: 15px;
    }
}
.home-body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border-bottom: #000000 solid 3px;
    &--dark-theme {
        background-color: #333232;
        color: white;
    }
}

.home-footer {
    width: 100%;
    align-content: center;
    padding: 40px 40px;
    &--dark-theme {
        background-color: #333232;
        color: white;
    }
    &__lets-talk {
       max-width: 600px;
       margin: 0 auto;
       &__text {
           text-align: center;
           margin-top: 20px;
           &__link {
            text-align: center;
            margin-top: 15px;
               a {
                color: #FF5F4B;
                text-decoration: underline;
                font-weight: 800;
                cursor: pointer;
               }
           }
           p {
               margin: 7px 0px;
               font-weight: 500;
               font-size: 16px;

           }
       }
    }
}
.home-text-headers {
    padding-left: 10px;
    max-width: 80%;
    margin-left: 70px;
    position: absolute;
    top: 55vh;
    z-index: 5;
    @media (max-width: 1080px) {
        height: 700px;
    }
    @media (max-width: 700px) {
        margin-left: 20px;
        height: 600px;
        .home-text-headers__text {
            font-size: 50px;
            line-height: 45px;
        }
        .home-text-headers__link {
            font-size: 12px;          
        }
        .home-text-headers__bold {
            min-height: 50px;        
        }
    }
    p {
        margin: 0px;
    }
    &__text {
        font-size: 70px;
        line-height: 70px;
        text-shadow: 1px 1px rgba(80, 79, 79, 0.4);
    }
    &__bold {
        font-weight: 800;
        color: #FF5F4B;
        display: block;
        min-height: 70px;
    }
    &__medium {
        font-weight: 600;
        color: white;
    }
    &__link {
        font-size: 16px;
        cursor: pointer;
        text-decoration: underline;
        color: white
    }
}
.home-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &__cover-image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        transition: 3s;
        animation: scale 15s ease infinite;
    }
    &__direction-icon {
       position: absolute;
       left: 50%;
       width: 50px;
       height: 50px;
       cursor: pointer;
       animation: direction-icon 1s infinite; 
    }
}
.home-text-body {
    max-width: 500px;
    padding: 30px;
    position: absolute;
    top: 20vh;
    z-index: 5;
    transition: 0.7s;
    @media (max-width: 800px) {
        padding: 10px;
    }
    .power-icon {
      display: inline-block;
      width: 45px;
      @media (max-width: 800px) {
        width: 30px;
      }
    }
    &__link {
        margin-top: 30px;
        a {
            color: #FF5F4B;
            text-decoration: underline;
            font-weight: 600;
            font-size: 24px;
            cursor: pointer;
            @media (max-width: 800px) {
                font-size: 16px;    
            }
        }
    }
    h2 {
        font-size: 70px;
        line-height: 69px;
        font-weight: 700;
        margin: 0px;
        @media (max-width: 800px) {
            font-size: 40px;
            line-height: 45px; 
        }
    }
    p {
        font-size: 18px;
        line-height: 27px;
        @media (max-width: 800px) {
            font-size: 16px;
            line-height: 26px;
        }
    }
    &--animate-in {
        margin-left: 35px;
        @media (max-width: 800px) {
            margin-left: 30px;
        }
    }
    &--animate-out {
        margin-left: 150px;
    }
    @media (max-width: 1080px) {
       top: 8vh
    }
    @media (max-width: 750px) {
        margin-left: 10px;
        top: 10vh;
        padding: 10px;
    }
}

@keyframes scale {
    0%{ 
        transform: scale(1.0)
    }

    50%{ 
        transform: scale(1.05)
    }
    100%{
        transform: scale(1.0)
    }
}

@keyframes move {
    0%{ 
        transform: translateX(-1000px)
    }
    100%{transform: translateX(1500px)}
}

@keyframes theme {
    0%{ 
        z-index: -1;
        opacity: 0;
        top: 400px;
    }
    100%{            
        z-index: 10;
        opacity: 1;
        top: 200px;
    }
}


@keyframes bird {
    0%{ 
        top: -20px;
        width: 10px;
        transform: translateX(1000px) rotate(40deg);
    }
    100%{
        top: 700px;
        width: 110px;
        transform: translateX(-500px) rotate(0deg);
    }
}

@keyframes slide {
    0%{ 
        transform: translateX(-1000px)
    }
    100%{transform: translateX(0px)}
}
