.what-we-do {
    &__image {
        position: absolute;
        right: 70px;
        height: 100vh;
        width: 35%;
    }
}
.what-we-do-container {
    width: 100%;
    height: 100vh;
    position: relative; 
    font-family: 'Nexa light';
    &__text {
        display: flex;
        ul {
            padding: 0px;
        }
        &__details {
            max-width: 400px;
            &__header {
                font-family: 'Nexa Bold';
                font-size: 30px;
            }
            &__body {
                font-size: 23px;
                line-height: 32px;
            }
        }
    }
}

.our-services {
    &__text {
        position: absolute;
        font-family: 'Nexa bold';
        display: flex;
        top: 50%;
        left: 70px;
        &__header {
            margin: 0px;
        }
        &__body {
            font-size: 23px;
            max-width: 330px;
            margin: 0px 0px 0px 20px;
        }
    }
    &__line {
        height: 1px;
        background-color: black;
        margin-left: 20px;
        margin-top: 5px;
        transition: 2s;
        &--on {
            width: 150px;
        }
        &--off {
            width: 20px;
        }
    }
}
.brand-identity-dev {
    width: 100%;
    height: 100vh;
    background-color: #333232;
    &__text {
        position: absolute;
        color: #ffffff;
        top: 25%;
        right: 50%;
    }
}

.communition {
    background-color: #333232;
    &__text {
        position: absolute;
        color: #ffffff;
        top: 25%;
        right: 50%;
    }
}

.market-strategy {
    &__text {
        position: absolute;
        top: 25%;
        right: 50%;   
    }
}
.design-and-creative {
    &__text {
        position: absolute;
        top: 25%;
        right: 50%;
    }
}
