@import './styles/fonts/fonts.scss';

html, body {
  padding: 0px;
  margin: 0px;
  color: #4A4A47;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
  // transition: 0.2s;
  scroll-behavior: smooth;
}
a {
  color: #FF5F4B;
  text-decoration: underline;
}
.main-container {
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
  &__nav {
    position: absolute;
    width: 100%;
    max-width: 2000px;
    z-index: 1500;
  }
}
.dont-display {
  display: none;
}

.list {
  &--white {
      color: white;
  }
  &__header {
      font-size: 30px;
      color: white;
      font-weight: 700;
      @media (max-width: 1080px) { 
        font-size: 20px;
      }
  }
  &__body {
      font-size: 18px;
      line-height: 27px;
      max-width: 550px;
      @media (max-width: 1080px) { 
        font-size: 18px;
        line-height: 22px;
      }
  }
  // border-right: 2px solid #FF5F4B;
// font-weight: 500;
// color: white;
// font-size: 62px;
// width: 120px;
// height: 60px;
// overflow: hidden;
// position: relative;
// margin-right: 15px;
// font-family: 'Nexa Bold';
  &__number {
      border-right: 2px solid #FF5F4B;
      font-weight: 500;
      color: white;
      font-size: 90px;
      width: 70px;
      height: 100px;
      overflow: hidden;
      position: relative;
      margin-right: 20px;
      font-family: 'Nexa Bold';
      @media (max-width: 450px) {
        height: 65px;
        font-size: 50px;
        display: none;
        width: 70px;
        margin-right: 10px;
      }
      &__figures {
          position: absolute;
          top: 15%;
          color: #FF5F4B;
          &--animate-out {
            animation: numberout 1s ease forwards;             
          }
          &--animate-in {
            animation: numberin 1s ease forwards;  
          }
          &--one {
              right: -13px;
          }
          &--two {
              right: -25px;
          }
          &--three {
              right: -22px;
          }
          &--four {
            right: -15px;
          }
      }
  }

}
.cloud {
  animation: move 110s infinite; 
  padding-top: 30px;
  height: 200px;
}
.cloud-top {
  position: absolute;
  width: 70%;
  height: 300px;
  animation: move 150s infinite; 
}
.double-birds {
  position: absolute;
  animation: birds-flight 60s ease infinite;  
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  margin-top: 20px;
  padding: 20px 15px;
  background-color: #FF5F4B;
  font-weight: 800;
  font-size: 18px;
  color: white;
  border: none;
  max-width: 350px;
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 3px 12px rgba(131, 137, 160, 0.8);
  cursor: pointer;
  &:hover {
      border-radius: 25px;
      box-shadow: 0px 3px 12px rgba(131, 137, 160, 0.3);
  }
}

.animate-appear {
  animation: animateappear 2s ease forwards;  
}

.snap-scroll {
  scroll-snap-stop: normal;
}
.page-container {
  transition-timing-function: ease-in;
  transition: 0.3s;
  overflow: scroll;
  @media (max-width: 1100px) {
    overflow: visible;
  }

  &--show {
    transition-timing-function: ease-in;
    height: inherit;
    @media (max-width: 1100px) {
      height: auto;
      overflow: hidden;
    }
  }

  &--hide {
    transition-timing-function: ease-in;
    height: 0px;
    @media (max-width: 1100px) {
      height: auto;
    }
  }
}
.main {
  scroll-snap-type: y mandatory;
  overflow: hidden; 
  height: 100vh;
  @media (max-width: 1000px ) {
    height: inherit;
    overflow: scroll;
  }
}

@keyframes loadPage {
  0% { 
    transform: translateY(1000px)
  }
  100% {
    transform: translateY(0px)
  }
}

@keyframes birds-flight {
  0% { 
    top: -3%;
    left: 30%;
    width: 100px;
  }
  15% {
    top: 15%;
    left: 45%;
  }
  50% {
    top: 5%;
    left: 45%;
  }
  100% {
    top: 10%;
    left: 30%;
    width: 5px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes numberout {
  0% { 
    transform: translateX(0px)
  }
  100% {
    transform: translateX(300px)
  }
}

@keyframes numberin {
  0%{ 
      transform: translateX(300px)
  }
  100%{transform: translateX(0px)}
}

@keyframes animateappear {
  0%{ 
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes direction-icon {
  0%{ 
      bottom: 5%;
  }
  50% {
      bottom: 7%;
  }
  100%{
      bottom: 5%;
  }
}
