@import './styles/fonts/fonts.scss';

html, body {
  padding: 0px;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
.main-container {
  position: relative;
  &__nav {
    position: fixed;
    width: 100%;
    z-index: 1500;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
