.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0px;
    padding: 30px 70px;
    box-sizing: border-box;
    margin: 0 auto;
    &__close {
        animation: close-icon 0.7s forwards;
    }
    &__open {
        animation: open-icon  0.7s forwards;    
    }
    &__logo {
            svg {
                // width: 120px;
                height: 50px;
            }
    }
    &__menu {
        svg {
            width: 50px;
            height: 50px;
            circle {
                stroke: #333232;
            }
            polygon {
                fill: #333232;
            }
            g {
                stroke: #333232;;
            }
        }
    }

}
.nav-icon {
    position: relative;
    &__name {
        position: absolute;
        font-family: 'Nexa Bold';
        width: 120px;
        top: 35%;
        padding-left: 10px;
    }
}

@keyframes close-icon {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}

@keyframes open-icon {
    from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
}